body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

button {
    cursor: pointer;
    border: 0;

}

input[type="text"] {
    text-align: right;
    background-color: transparent;
    font-size: 4rem;
    width: 100%;
    color: #d2d2d2;
}
#main {
    background-color: #000000;
    width: 100%;
    max-width: 280px;
    border-radius: 50px;
    padding: 2rem 1rem;
    border: 2px solid #ededed;
    
}