body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

button {
    cursor: pointer;
    border: 0;

}

input[type="text"] {
    text-align: right;
    background-color: transparent;
    font-size: 4rem;
    width: 100%;
    color: #d2d2d2;
    border: 0;
}

#main {
    background-color: #000000;
    width: 100%;
    max-width: 280px;
    border-radius: 50px;
    padding: 2rem 1rem;
    border: 2px solid #ededed;

}

.calc_header {
    margin-top: 90px;
    padding: 12px;
}
.calc_footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.calc_footer>:nth-child(5) {
    gap: 1rem;
}
.btn_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
}
.btn {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}
.btn-grey {
    background-color: #9f9f9f;
    color: #000;
}

.btn-grey:hover {
    background-color: #ededed;
}

.btn-dark-grey {
    background-color: #313131;
}

.btn-dark-grey:hover {
    background-color: #999999;
}

.btn-orange {
    background-color: #f99d08;
}
.btn-orange:hover {
    background-color: rgb(252, 177, 46);
}
.btn:hover {
    transform: translate(-2px, -3px);
}

.btn.active {
    background-color: #ffffff;
    color: #f69906;
}
.btn.btn-grow {
    flex-grow: 1;
    border-radius: 40px;
}


