body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

button {
    cursor: pointer;
    border: 0;

}

input[type="text"] {
    text-align: right;
    background-color: transparent;
    font-size: 4rem;
    width: 100%;
    color: #d2d2d2;
}
#main {
    background-color: #000000;
    width: 100%;
    max-width: 280px;
    border-radius: 50px;
    padding: 2rem 1rem;
    border: 2px solid #ededed;
    

}
.calc_header { margin-top: 90px; padding: 12px; }
    .calc_footer > * + * { margin-top: 1rem; }
    .calc_footer > *:last-child { gap: 1rem; }

   
    .btn_group { display: flex; justify-content: space-between; align-items: center; gap: 0.3rem; }
    .btn {
      display: flex; justify-content: center; align-items: center; border-radius: 50%;
      width: 60px; height: 60px; color: #ffffff; font-size: 20px;
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .btn.btn-grow { flex-grow: 1; border-radius: 40px; }


  
    .btn-grey { background-color: #9f9f9f; color: #000; }
    .btn-grey:hover { background-color: #ededed; }
    .btn-dark-grey { background-color: #313131; }
    .btn-dark-grey:hover { background-color: #999999; }
    .btn-orange { background-color: #f69906; }
    .btn-orange:hover { background-color: orange; }
